<launch>

    <node pkg="lidar_camera_bag_playback" name="lidar_camera_bag_playback" type="lidar_camera_bag_playback" output="screen" required="true">

        <param name="output_width" value="1920" />
        <param name="output_height" value="1208" />
        <param name="limit_playback_speed" value="false" />
        <param name="bag_file" value="$(arg bag_file_name)"/>
        <param name="publish_full_cloud" type="bool" value="false" />

        <param name="percentage_start" value="0" />
        <param name="percentage_end" value="100" />

        <param name="lidar_frame" value="os_sensor" />

        <param name="publish_uv_cloud" type="bool" value="false" />
        <param name="publish_rgb_cloud" type="bool" value="true" />

        <!-- load the list of cameras to perform the projection into the lidar pointcloud -->
        <rosparam file="$(find lidar_camera_bag_playback)/config/cameras.yaml" command="load" />

    </node>

</launch>



